<a href="https://colab.research.google.com/github/SyifaUrRahmah030/Tugas13/blob/main/Tugas_Pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Syifa Ur Rahmah (H051211030)

Penjumlahan Dua Buah Matriks

In [ ]:
#misal menghitung penjumlahan 2 buah matriks ordo 2x2
a = int(input('masukkan nilai a : '))
b = int(input('masukkan nilai b : '))
c = int(input('masukkan nilai c : '))
d = int(input('masukkan nilai d : '))
matriksA= [
           [a, b],
           [c, d],
]

e = int(input('masukkan nilai e : '))
f = int(input('masukkan nilai f : '))
g = int(input('masukkan nilai g : '))
h = int(input('masukkan nilai h : '))
matriksB= [
            [e, f],
            [g, h],         
]
print('matriks A', matriksA)
print('matriks B', matriksB)

for i in range(0, len(matriksA)):
  for j in range(0, len(matriksA[0])):
    print(matriksA[i][j] + matriksB[i][j],end='  '),
  print()

Nomor 1

In [ ]:
N = int(input('Banyak Buah Barang:'))
totpem = 0
for B in range (N) :
  print('Barang ke-', B+1)
  hargabrg = int(input('Harga Barang : '))
  jumlahbrg = int(input('Jumlah Barang: '))
  total = hargabrg*jumlahbrg
  print('total', total)
  for C in range (total):
    totpem=totpem+1
print('Total Pembelian: ', totpem)

Nomor 2

In [ ]:
N = int(input('Input Banyak bilangan : '))
jum_genap = 0
jum_ganjil= 0
for B in range (N):
  b = int(input('Input Bilangan : '))
  if b % 2 == 0:
   jum_genap=jum_genap+1
  else:
    jum_ganjil=jum_ganjil+1
print('banyak bilangan genap = ',jum_genap)
print('banyak bilangan ganjil = ',jum_ganjil)

Nomor 3

In [ ]:
batasawal=int(input('Input Nilai Awal : '))
batasakhir=int(input('Input Nilai Akhir : '))
print('bilangan kelipatan 3 antara %d dan %d' %(batasawal,batasakhir))
for i in range (batasawal, batasakhir+1):
  if i%3==0:
    print(i, end= ' ' )

Nomor 4

In [ ]:
n = int(input('input suatu bilangan : '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(str(int(j)), end=' ')  
    print(' ')

Nomor 5

In [ ]:
!pip install texttable
import texttable
table = texttable
jawab = 'y'
no = 0
nama = []
n_tugas = []
n_kuis = []
n_UTS = []
n_UAS = []
while(jawab == 'y'):
  nama.append(input('Masukkan Nama : '))
  n_tugas.append(input('Masukkan Nilai Tugas : '))
  n_kuis.append(input('Masukkan Nilai Kuis : '))
  n_UTS.append(input('Masukkan Nilai UTS : '))
  n_UAS.append(input('Masukkan Nilai UAS : '))
  jawab= input('Tambah data (y/t)?')
  no +=1
for n in range(no):
  tugas= float(n_tugas[n])
  kuis= float(n_kuis[n])
  UTS= float(n_UTS[n])
  UAS= float(n_UAS[n])
  akhir= (tugas+kuis+UTS+UAS)/4
  table([['No.', 'Nama Mhs', 'N.Tugas', 'N.Kuis', 'N.UTS','N.UAS','Nilai Akhir'],
                  [n+1, nama[n], n_tugas[n], n_kuis[n], n_UTS[n], n_UAS[n], akhir]])
print(table.draw())